# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties
*.iml

# IDE
.idea/
.DS_Store

# Logs
*.log

# Git
*.zip
*.jar
*.keystore
*.apk

# Kotlin
*.class
*.kts~

# Node / NPM (если используешь Firebase functions)
node_modules/

# Misc
.env
gradle.properties
